@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0px;
}

.auth-box > form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.test {
  font-size: 21px;
}

.test-2 {
  font-size: 21px;
  font-weight: 700;
}

.test-3 {
  font-size: 22px;
}

.test-4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.question-style {
  line-height: 100px;
  white-space: pre-wrap;
}
