.tambola-ticket {
  display: grid;
  grid-template-columns: repeat(9, 10vw [col-start]);
  grid-template-rows: repeat(3, 5vw [col-start]);
  column-gap: 1vw;
  row-gap: 1vw;
  margin: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.89);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2vw;
}

.tambola-ticket-cell {
  background-color: #c9cbcc93;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.tambola-ticket-cell p {
  margin: 0;
  font-size: 0.8em;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-color: #ffffff;
}

.striked {
  background-color: #6cb4ee;
  color: #000;
}

.hover:hover {
  background-color: #82bef0;
}

@media only screen and (max-width: 786px) {
  .tambola-ticket-cell {
    font-size: 2vw;
  }

  .tambola-ticket-cell p {
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 786px) {
  .tambola-ticket {
    grid-template-columns: repeat(9, 10vw [col-start]);
    grid-template-rows: repeat(3, 5vw [col-start]);
    column-gap: 1vw;
    row-gap: 1vw;
    margin-top: 2rem;
    padding: 1vw;
  }

  .tambola-ticket-cell {
    font-size: 1vw;
  }

  .tambola-ticket-cell p {
    font-size: 0.8em;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
