.tambola-ticket {
    display: grid;
    grid-template-columns: repeat(9, 38px [col-start]);
    grid-template-rows: repeat(3, 38px [col-start]);
    column-gap: 2px;
    row-gap: 2px;
    margin-left: 2rem;
    margin-right: 2rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tambola-ticket-cell {
    background-color: #eee;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    cursor: pointer;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.striked {
    background-color: #f7c327;
    color: #000;
}


@media (max-width: 575.98px) {
    .tambola-ticket-cell {
        font-size: 0.4rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .tambola-ticket {
        grid-template-columns: repeat(9, 60px [col-start]);
        grid-template-rows: repeat(3, 30px [col-start]);
        column-gap: 3px;
        row-gap: 3px;
        margin-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .tambola-ticket {
        grid-template-columns: repeat(9, 80px [col-start]);
        grid-template-rows: repeat(3, 40px [col-start]);
        column-gap: 4px;
        row-gap: 4px;
        margin-top: 1.5rem;
    }
}

/* large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .tambola-ticket {
        grid-template-columns: repeat(9, 100px [col-start]);
        grid-template-rows: repeat(3, 50px [col-start]);
        column-gap: 4px;
        row-gap: 4px;
        margin-top: 2rem;
    }
}


@media (min-width: 1200px) and (max-width: 1399.98px) {
    .tambola-ticket {
        grid-template-columns: repeat(9, 120px [col-start]);
        grid-template-rows: repeat(3, 60px [col-start]);
        column-gap: 5px;
        row-gap: 5px;
        margin-top: 2rem;
    }
}
